<!DOCTYPE html>
<html lang="en">
<head>
	<title>Clickbye - password reset</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    {% load i18n %}
    {% trans "<strong>Success!</strong> Your password was changed." as success_message %}
    {% trans "<strong>Error!</strong> Something went wrong." as error_message %}
    {% trans "<strong>Error!</strong> Password is empty." as empty_password_error_message %}
    {% trans "<strong>Error!</strong> Password has to have at least 8 characters." as short_password_error_message %}
    {% trans "<strong>Error!</strong> Passwords are not the same." as not_the_same_passwords_error_message %}
    {% trans "<strong>Error!</strong> Reset code does not exist - use link from the email." as wrong_reset_code %}
    {% trans "RESET PASSWORD" as reset_password_title %}
    {% trans "UPDATE PASSWORD" as update_password_title %}
    {% trans "New Password" as new_password_placeholder %}
    {% trans "Confirm Password" as confirm_password_placeholder %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
                    <div class="alert alert-success" id="success-box" style="display:none;width:100%">
                        {{ success_message }}
                    </div>

                    <div class="alert alert-danger" id="general-error-box" style="display:none;width:100%">
                        {{ error_message }}
                    </div>

                    <div class="alert alert-danger" id="empty-password-error-box" style="display:none;width:100%">
                        {{ empty_password_error_message }}
                    </div>

                    <div class="alert alert-danger" id="short-password-error-box" style="display:none;width:100%">
                        {{ short_password_error_message }}
                    </div>

                     <div class="alert alert-danger" id="not-the-same-passwords-error-box" style="display:none;width:100%">
                        {{ not_the_same_passwords_error_message }}
                    </div>

                    <div class="alert alert-danger" id="wrong-reset-code-error-box" style="display:none;width:100%">
                        {{ wrong_reset_code }}
                    </div>


					<span class="login100-form-title p-b-34">
                        {{ reset_password_title }}
					</span>


					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="new_pwd" class="input100" type="password" name="new_pwd" placeholder="{{ new_password_placeholder }}">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Confirm Password">
						<input id="confirm_pwd" class="input100" type="password" name="confirm_pwd" placeholder="{{ confirm_password_placeholder }}">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="pwd_button" type="button">
                        {{ update_password_title }}
						</button>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/static/images/bg-01.jpg');"></div>
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/jquery/jquery.cookie.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
</html>